.App {
  background-color: black;
  display: flex;
  flex-direction: column;
}
.app-nav {
  background-color: white;
  display: flex;
  padding: 1em 1.2em;
}
.nav-img {
  width: 33px;
  height: 33px;
}
.nav-mid {
  margin-left: 15px;
}
.nav-mid-top {
  font-size: 12px;
  color: black;
}
.nav-mid-bot {
  font-size: 16px;
  font-weight: 600;
  color: black;
}
.App-header {
  background-color: #eebece;
  background-image: url("./images/bg-curve.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 510px;
  padding: 2em 1em;
  padding-top: 4em;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.header-desc {
  text-align: center;
  font-size: 16px;
  font-weight: 600;
  font-stretch: normal;
  font-style: italic;
  line-height: normal;
  letter-spacing: normal;
  margin-top: 20px;
  color: white;
}
.header-robot {
  width: 150px;
  height: 250px;
  object-fit: contain;
  left: 110px;
  top: 220px;
  padding-top: 50px ;
}
.header-btn {
  position: absolute;
  bottom: 135px;
  width: 200px;
  height: 50px;
  border-radius: 30px;
  margin: auto;
  border: none;
  outline: none;
  box-shadow: 0 20px 30px 0 rgba(249, 131, 171, 0.5);
}
.sect-top {
  background-color: #eebece;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding: 2em 0 5em;
}
.top-desc-top, .top-desc-bot, .sect-top-testimonial {
  padding: 0 2em;
}
.top-desc-top {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: -0.57px;
  color: #000000;
}
.top-desc-top-span {
  font-weight: bold;
  color: #0b24fb;
}
.top-desc-bot {
  font-size: 16px;
  font-weight: 600;
  color: white;
  font-style: italic;
}
.sect-top-img {
  height: 150px;
  object-fit: contain;
}
.sect-top-desc {
  text-align: end;
  margin: 4em 0;
}
.sect-top-testimonial {
  position: relative;
  align-self: flex-start;
}
.circle {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: #0b24fb;
}
.testi-title {
  position: absolute;
  top: 80px;
}
.top-testi-display {
  width: 190%;
  display: flex;
  position: absolute;
  bottom: -175px;
  overflow: scroll;
}
.top-testi-display::-webkit-scrollbar {
  display: none;
}
.sect-bot {
  padding: 10em 2em 2em;
}
.sect-bot-p {
  line-height: 1.5;
  letter-spacing: -0.57px;
  font-size: 16px;
  margin: 30px 0;
}
.sect-bot-card {
  padding: 2em 0;
}
.foot-title {
  padding: 0 30px;
}
.p-pd {
  padding: 0 2em;
}
.footer {
  padding: 2em;
  background-color: #0b24fb;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}
.footer-right {
  border: 1px solid white;
  border-radius: 32px;
  padding: 0 5px;
}
.foot-year{
  font-weight: normal;
}
.foot-h4{
  font-size: 12px;
}
.foot-p{
  font-size: 10px;
  font-weight: 300;
}
.white {
  color: white;
}
.img-foot {
position: relative;
bottom: -5px;
}
.img-foot {
  height: 300px;
  object-fit: contain;
}
.header-btn:hover {
  cursor: pointer;
  background-color: #cecdcd;
}
.btn-arr {
  border-radius: 50%;
  border: none;
  outline: none;
  padding: 0 3px;
  padding-top: 3px;
  display: none;
  position: relative;
}
.btn-arr:hover {
  cursor: pointer;
}
.btn-arr:hover::after {
  content: "";
  position: absolute;
  background-color: black;
  opacity: 0.35;
  width: 56px;
  height: 56px;
  left: 0;
  top: 0;
  border-radius: 50%;
}
.left {
  -ms-transform: rotate(180deg); 
  transform: rotate(180deg);
  top: 190px;
  left: 280px;
}
.right {
  top: 190px;
  right: -900px;
}
.ab {
  position: absolute;
}
.img-arr-btn {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  position: relative;
}

@media (min-width: 450px) {
  .top-testi-display {
    width: 235%;
  }
}
@media (min-width: 500px) {
  .top-testi-display {
    width: 265%;
  }
}
@media (min-width: 550px) {
  .top-testi-display {
    width: 290%;
  }
}
@media (min-width: 576px) {
  .top-testi-display {
    width: 310%;
  }
}
@media (min-width: 768px) { 
  .top-testi-display {
    margin-left: 4.9em;
    width: 275%;
  }
  .header-btn {
    bottom: 185px;
  }
  .top-desc-top, .top-desc-bot {
    padding: 0 8em;
  }
  .sect-bot-p {
    padding: 0 6em;
  }
  .h2-mg2 {
    margin-left: 3em;
  }
  .sect-bot-card {
    display: flex;
    flex-wrap: wrap;
  }
}
@media (min-width: 992px) { 
  .top-testi-display {
    width: 330%;
    margin-left: 12em;
  }
  .top-desc-top, .top-desc-bot {
    padding: 0 14em;
  }
  .testi-title {
    left: 410px;
  }
  .h2-mg2 {
    margin-left: 0;
  }
  .h2-ta{
    text-align: center;
  }
  .image-sect {
    position: relative;
    height: 140px;
  }
  .img-foot {
    position: absolute;
  }
  .sect-bot-card {
    display: flex;
  }
  .sect-bot-p {
    padding: 0 12em;
  }
  .footer{
    padding: 2em 10em;
  }
  .app-nav{
    padding: 2em 10em;
  }
  .btn-arr {
    display: block;
  }
  .left {
    left: 100px;
  }
  .right {
    right: -725px;
  }
}
@media (min-width: 1200px) {
  .top-desc-top, .top-desc-bot {
    padding: 0 20em;
  }
  .sect-bot-p {
    padding: 0 18em;
  }
  .sect-bot-card {
    justify-content: center;
  }
  .testi-title {
    left: 510px;
  }
  .top-testi-display {
    margin-left: 19em;
  }
  .left {
    left: 200px;
  }
  .right {
    right: -850px;
  }
}
@media (min-width: 1366px) {
  .top-desc-top, .top-desc-bot {
    padding: 0 24em;
  }
  .sect-bot-p {
    padding: 0 22em;
  }
  .image-sect {
    height: 200px;
  }
  .top-testi-display {
    margin-left: 23em;
  }
  .testi-title {
    left: 590px;
  }
  .left {
    left: 280px;
  }
  .right {
    right: -900px;
  }
}



