body {
  margin: 0;
  font-family: 'Work Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  margin: 0;
}

h1 {
  font-size: 52px;
  line-height: 51px;
  font-weight: 900;
  font-stretch: normal;
  font-style: normal;
  text-align: center;
  color: white;

}

h2 {
  font-size: 32px;
  line-height: normal;
  font-weight: 900;
  font-stretch: normal;
  font-style: normal;
  color: white;
  letter-spacing: normal;
}

